In [3]:
import pandas as pd

In [5]:
df = pd.read_excel(r"C:\Users\Admin\Downloads\Customer Call List.xlsx")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [7]:
df = df.drop_duplicates()

In [7]:
df = df.drop(columns = "Not_Useful_Column")

In [9]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [13]:
df["Last_Name"] = df["Last_Name"].str.strip('123./_\')')

In [15]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [37]:
df["Phone_Number"] = df["Phone_Number"].str.replace('[^a-zA-Z0-9]','',regex =True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Phone_Mumber
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,No,123-545-5421
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes,123/643/9775
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,NaN
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,123-543-2345
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No,876|678|3469
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Yes,304-762-2467
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,NaN
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No,876|678|3469
8,1009,Gandalf,NaN,Na,123 Middle Earth,Y,NaN,N/a
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,No,123-545-5421
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Y,No,NaN
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN,NaN
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N,123-543-2345
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,No,876|678|3469
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No,304-762-2467
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N,123-545-5421
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,No,123/643/9775
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,NaN
18,1019,Creed,Braton,Na,N/a,N/a,Yes,N/a
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N,876|678|3469
20,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N,876|678|3469

In [83]:
 df["Phone_Number"].replace('NaN','Null')

0     1235455421
1     1236439775
2            NaN
3     1235432345
4     8766783469
5     3047622467
6            NaN
7     8766783469
8             Na
9     1235455421
10           NaN
11           NaN
12    1235432345
13    8766783469
14    3047622467
15    1235455421
16    1236439775
17           NaN
18            Na
19    8766783469
20    8766783469
Name: Phone_Number, dtype: object

In [39]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Phone_Mumber
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,No,123-545-5421
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes,123/643/9775
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,NaN
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,123-543-2345
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No,876|678|3469
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Yes,304-762-2467
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,NaN
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No,876|678|3469
8,1009,Gandalf,NaN,Na,123 Middle Earth,Y,NaN,N/a
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,No,123-545-5421
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Y,No,NaN
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN,NaN
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N,123-543-2345
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,No,876|678|3469
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No,304-762-2467
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N,123-545-5421
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,No,123/643/9775
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,NaN
18,1019,Creed,Braton,Na,N/a,N/a,Yes,N/a
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N,876|678|3469
20,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N,876|678|3469

In [27]:
df["Paying Customer"].str.replace('Yes','Y')

0       Y
1      No
2       N
3       Y
4       Y
5       Y
6      No
7       N
8       Y
9       Y
10      Y
11      Y
12      Y
13      Y
14      N
15     No
16      Y
17      Y
18    N/a
19      Y
20      Y
Name: Paying Customer, dtype: object

In [29]:
df["Paying Customer"] = df["Paying Customer"].str.replace('Yes','Y')

In [53]:
df["Paying Customer"].str.replace('No','N')

0       Y
1       N
2       N
3       Y
4       Y
5       Y
6       N
7       N
8       Y
9       Y
10      Y
11      Y
12      Y
13      Y
14      N
15      N
16      Y
17      Y
18    N/a
19      Y
20      Y
Name: Paying Customer, dtype: object

In [57]:
df["Paying Customer"] = df["Paying Customer"].str.replace('No','N')

In [59]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Phone_Mumber
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,No,123-545-5421
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,Yes,123/643/9775
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,NaN
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,123-543-2345
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No,876|678|3469
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Yes,304-762-2467
6,1007,Jeff,Winger,NaN,1209 South Street,N,No,NaN
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No,876|678|3469
8,1009,Gandalf,NaN,Na,123 Middle Earth,Y,NaN,N/a
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,No,123-545-5421
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Y,No,NaN
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN,NaN
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N,123-543-2345
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,No,876|678|3469
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No,304-762-2467
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N,123-545-5421
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,No,123/643/9775
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,NaN
18,1019,Creed,Braton,Na,N/a,N/a,Yes,N/a
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N,876|678|3469
20,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N,876|678|3469

In [61]:
df["Do_Not_Contact"].str.replace('Yes','Y')

0      No
1       Y
2     NaN
3       Y
4      No
5       Y
6      No
7      No
8     NaN
9      No
10     No
11    NaN
12      N
13     No
14     No
15      N
16     No
17    NaN
18      Y
19      N
20      N
Name: Do_Not_Contact, dtype: object

In [73]:
df["Do_Not_Contact"] = df["Do_Not_Contact"].replace('Yes','Y')

In [73]:
df["Do_Not_Contact"] = df["Do_Not_Contact"].replace('Yes','Y')

In [77]:
df["Do_Not_Contact"].str.replace('No','N')

0       N
1       Y
2     NaN
3       Y
4       N
5       Y
6       N
7       N
8     NaN
9       N
10      N
11    NaN
12      N
13      N
14      N
15      N
16      N
17    NaN
18      Y
19      N
20      N
Name: Do_Not_Contact, dtype: object

In [79]:
df["Do_Not_Contact"] = df["Do_Not_Contact"].replace('No','N')

In [81]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Phone_Mumber
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,N,123-545-5421
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,Y,123/643/9775
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,NaN
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,123-543-2345
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N,876|678|3469
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y,304-762-2467
6,1007,Jeff,Winger,NaN,1209 South Street,N,N,NaN
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N,876|678|3469
8,1009,Gandalf,NaN,Na,123 Middle Earth,Y,NaN,N/a
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,N,123-545-5421
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Y,N,NaN
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN,NaN
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N,123-543-2345
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,N,876|678|3469
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,N,304-762-2467
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N,123-545-5421
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,N,123/643/9775
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,NaN
18,1019,Creed,Braton,Na,N/a,N/a,Y,N/a
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N,876|678|3469
20,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N,876|678|3469

In [87]:
df = df.replace('N/a','')
df = df.replace('NaN','')
df = df.replace('Na','')

In [93]:
df  = df.fillna('')

In [101]:
df = df.drop(columns = "Phone_Mumber")

In [103]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,N
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,Y
2,1003,Walter,White,,298 Drugs Driveway,N,
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y
6,1007,Jeff,Winger,,1209 South Street,N,N
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N
8,1009,Gandalf,,,123 Middle Earth,Y,
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,N
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Y,N
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,N
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,N
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,N
17,1018,Clark,Kent,,3498 Super Lane,Y,
18,1019,Creed,Braton,,,,Y
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N
20,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N

In [131]:
for x in df.index:
    if df.loc[x,"Phone_Number"] == '':
        df.drop(x, inplace=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,N
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,Y
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,N
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,N
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,N
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,N
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N
20,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N